In [1]:
##### This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/brazilian-ecommerce/olist_customers_dataset.csv
/kaggle/input/brazilian-ecommerce/olist_sellers_dataset.csv
/kaggle/input/brazilian-ecommerce/olist_order_reviews_dataset.csv
/kaggle/input/brazilian-ecommerce/olist_order_items_dataset.csv
/kaggle/input/brazilian-ecommerce/olist_products_dataset.csv
/kaggle/input/brazilian-ecommerce/olist_geolocation_dataset.csv
/kaggle/input/brazilian-ecommerce/product_category_name_translation.csv
/kaggle/input/brazilian-ecommerce/olist_orders_dataset.csv
/kaggle/input/brazilian-ecommerce/olist_order_payments_dataset.csv

In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [3]:
cust = pd.read_csv('../input/brazilian-ecommerce/olist_customers_dataset.csv')
cust

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP
...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP

In [4]:
cust.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [5]:
cust.drop_duplicates(subset = "customer_unique_id", keep = "first")

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP
...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP

In [6]:
cust2 = cust.groupby(["customer_unique_id"], as_index = False).agg({"customer_id" : ["count"]                                                                             
})

cust2.columns = list(map(''.join,cust2.columns.values))

In [7]:
cust2

                     customer_unique_id  customer_idcount
0      0000366f3b9a7992bf8c76cfdf3221e2                 1
1      0000b849f77a49e4a4ce2b2a4ca5be3f                 1
2      0000f46a3911fa3c0805444483337064                 1
3      0000f6ccb0745a6a4b88665a16c9f078                 1
4      0004aac84e0df4da2b147fca70cf8255                 1
...                                 ...               ...
96091  fffcf5a5ff07b0908bd4e2dbc735a684                 1
96092  fffea47cd6d3cc0a88bd621562a9d061                 1
96093  ffff371b4d645b6ecea244b27531430a                 1
96094  ffff5962728ec6157033ef9805bacc48                 1
96095  ffffd2657e2aad2907e67c3e9daecbeb                 1

[96096 rows x 2 columns]

In [8]:
cust2['customer_idcount'].value_counts()

1     93099
2      2745
3       203
4        30
5         8
6         6
7         3
9         1
17        1
Name: customer_idcount, dtype: int64

Merge Cust & Order

In [9]:
order = pd.read_csv('../input/brazilian-ecommerce/olist_orders_dataset.csv')
order

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00
...,...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28 00:00:00
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02 00:00:00
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27 00:00:00
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00

In [10]:
order.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

In [11]:
order["order_status"].value_counts()

delivered      96478
shipped         1107
canceled         625
unavailable      609
invoiced         314
processing       301
created            5
approved           2
Name: order_status, dtype: int64

In [12]:
order2  = order[((order["order_status"] != "canceled") & (order["order_status"] != "unavailable"))]

In [13]:
order2

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00
...,...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28 00:00:00
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02 00:00:00
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27 00:00:00
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00

In [14]:
order2["order_status"].value_counts()

delivered     96478
shipped        1107
invoiced        314
processing      301
created           5
approved          2
Name: order_status, dtype: int64

In [15]:
cust_order = pd.merge(cust[["customer_id","customer_unique_id","customer_zip_code_prefix"]], order2[["customer_id","order_purchase_timestamp","order_id"]], on = "customer_id", how = "left")
cust_order.shape

(99441, 5)

In [16]:
cust_order

,customer_id,customer_unique_id,customer_zip_code_prefix,order_purchase_timestamp,order_id
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,2017-05-16 15:05:35,00e7ee1b050b8499577073aeb2a297a1
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,2018-01-12 20:48:24,29150127e6685892b6eab3eec79f59c7
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,2018-05-19 16:07:45,b2059ed67ce144a36e2aa97d2c9e9ad2
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,2018-03-13 16:06:38,951670f92359f4fe4a63112aa7306eba
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,2018-07-29 09:51:30,6b7d50bd145f6fc7f33cebabd7e49d0f
...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,2018-04-07 15:48:17,6760e20addcf0121e9d58f2f1ff14298
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,2018-04-04 08:20:22,9ec0c8947d973db4f4e8dcf1fbfa8f1b
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,2018-04-08 20:11:50,fed4434add09a6f332ea398efd656a5c
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,2017-11-03 21:08:33,e31ec91cea1ecf97797787471f98a8c2
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,2017-12-19 14:27:23,28db69209a75e59f20ccbb5c36a20b90

In [17]:
cust_order.isna().sum()

customer_id                    0
customer_unique_id             0
customer_zip_code_prefix       0
order_purchase_timestamp    1234
order_id                    1234
dtype: int64

Drop Customer who never buy

In [18]:
cust_order_buy = cust_order[~cust_order["order_purchase_timestamp"].isna()]
cust_order_buy

,customer_id,customer_unique_id,customer_zip_code_prefix,order_purchase_timestamp,order_id
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,2017-05-16 15:05:35,00e7ee1b050b8499577073aeb2a297a1
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,2018-01-12 20:48:24,29150127e6685892b6eab3eec79f59c7
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,2018-05-19 16:07:45,b2059ed67ce144a36e2aa97d2c9e9ad2
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,2018-03-13 16:06:38,951670f92359f4fe4a63112aa7306eba
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,2018-07-29 09:51:30,6b7d50bd145f6fc7f33cebabd7e49d0f
...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,2018-04-07 15:48:17,6760e20addcf0121e9d58f2f1ff14298
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,2018-04-04 08:20:22,9ec0c8947d973db4f4e8dcf1fbfa8f1b
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,2018-04-08 20:11:50,fed4434add09a6f332ea398efd656a5c
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,2017-11-03 21:08:33,e31ec91cea1ecf97797787471f98a8c2
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,2017-12-19 14:27:23,28db69209a75e59f20ccbb5c36a20b90

In [19]:
cust_order_buy2 = cust_order_buy.groupby(["customer_unique_id","order_purchase_timestamp"], as_index = False).agg({"customer_id" : ["count"],"order_id" : ["count"]                                                              
})

cust_order_buy2.columns = list(map(''.join,cust_order_buy2.columns.values))
cust_order_buy2

,customer_unique_id,order_purchase_timestamp,customer_idcount,order_idcount
0,0000366f3b9a7992bf8c76cfdf3221e2,2018-05-10 10:56:27,1,1
1,0000b849f77a49e4a4ce2b2a4ca5be3f,2018-05-07 11:11:27,1,1
2,0000f46a3911fa3c0805444483337064,2017-03-10 21:05:03,1,1
3,0000f6ccb0745a6a4b88665a16c9f078,2017-10-12 20:29:41,1,1
4,0004aac84e0df4da2b147fca70cf8255,2017-11-14 19:45:42,1,1
...,...,...,...,...
97919,fffcf5a5ff07b0908bd4e2dbc735a684,2017-06-08 21:00:36,1,1
97920,fffea47cd6d3cc0a88bd621562a9d061,2017-12-10 20:07:56,1,1
97921,ffff371b4d645b6ecea244b27531430a,2017-02-07 15:49:16,1,1
97922,ffff5962728ec6157033ef9805bacc48,2018-05-02 15:17:41,1,1
97923,ffffd2657e2aad2907e67c3e9daecbeb,2017-05-02 20:18:45,1,1

In [20]:
cust_order_buy2['customer_idcount'].value_counts()

1    97643
2      279
3        2
Name: customer_idcount, dtype: int64

In [21]:
cust_order_buy3 = cust_order_buy.groupby(["customer_unique_id","order_purchase_timestamp"], as_index = False).agg({"customer_zip_code_prefix" : ["first"]                                                              
})

cust_order_buy3.columns = list(map(''.join,cust_order_buy3.columns.values))
cust_order_buy3

,customer_unique_id,order_purchase_timestamp,customer_zip_code_prefixfirst
0,0000366f3b9a7992bf8c76cfdf3221e2,2018-05-10 10:56:27,7787
1,0000b849f77a49e4a4ce2b2a4ca5be3f,2018-05-07 11:11:27,6053
2,0000f46a3911fa3c0805444483337064,2017-03-10 21:05:03,88115
3,0000f6ccb0745a6a4b88665a16c9f078,2017-10-12 20:29:41,66812
4,0004aac84e0df4da2b147fca70cf8255,2017-11-14 19:45:42,18040
...,...,...,...
97919,fffcf5a5ff07b0908bd4e2dbc735a684,2017-06-08 21:00:36,55250
97920,fffea47cd6d3cc0a88bd621562a9d061,2017-12-10 20:07:56,44054
97921,ffff371b4d645b6ecea244b27531430a,2017-02-07 15:49:16,78552
97922,ffff5962728ec6157033ef9805bacc48,2018-05-02 15:17:41,29460
97923,ffffd2657e2aad2907e67c3e9daecbeb,2017-05-02 20:18:45,83608

In [22]:
cust_order_buy3.dtypes

customer_unique_id               object
order_purchase_timestamp         object
customer_zip_code_prefixfirst     int64
dtype: object

In [23]:
cust_order_buy3["order_purchase_timestamp"] = pd.to_datetime(cust_order_buy3["order_purchase_timestamp"])

In [24]:
cust_order_buy3.dtypes

customer_unique_id                       object
order_purchase_timestamp         datetime64[ns]
customer_zip_code_prefixfirst             int64
dtype: object

Create Different between order now from the previous one

In [25]:
size = cust_order_buy3.shape[0]
#temp = pd.DataFrame(columns=['A'])
a = []
for i in range (size-1) :
    if cust_order_buy3.iloc[i,0] == cust_order_buy3.iloc[i+1,0] :
        a.append((cust_order_buy3.iloc[i+1,1] - cust_order_buy3.iloc[i,1])/np.timedelta64(1,'M'))
    else :
        a.append((cust_order_buy3.iloc[i,1] - cust_order_buy3.iloc[i,1])/np.timedelta64(1,'M'))

In [26]:
diff = pd.DataFrame(a, columns = ["diff"])
diff = round(diff)
diff.head()

   diff
0   0.0
1   0.0
2   0.0
3   0.0
4   0.0

In [27]:
diff.dtypes

diff    float64
dtype: object

In [28]:
cust_order_buy4 = pd.concat([cust_order_buy3, diff], axis=1)
cust_order_buy4.tail(10)

,customer_unique_id,order_purchase_timestamp,customer_zip_code_prefixfirst,diff
97914,fff96bc586f78b1f070da28c4977e810,2018-08-15 10:26:57,13309,0.0
97915,fffa431dd3fcdefea4b1777d114144f2,2017-10-30 20:39:50,28660,0.0
97916,fffb09418989a0dbff854a28163e47c6,2017-12-17 19:14:35,95330,0.0
97917,fffbf87b7a1a6fa8b03f081c5f51a201,2017-12-27 22:36:41,60055,0.0
97918,fffcc512b7dfecaffd80f13614af1d16,2018-04-11 00:34:32,28909,0.0
97919,fffcf5a5ff07b0908bd4e2dbc735a684,2017-06-08 21:00:36,55250,0.0
97920,fffea47cd6d3cc0a88bd621562a9d061,2017-12-10 20:07:56,44054,0.0
97921,ffff371b4d645b6ecea244b27531430a,2017-02-07 15:49:16,78552,0.0
97922,ffff5962728ec6157033ef9805bacc48,2018-05-02 15:17:41,29460,0.0
97923,ffffd2657e2aad2907e67c3e9daecbeb,2017-05-02 20:18:45,83608,NaN

In [29]:
cust_order_buy4.isna().sum()

customer_unique_id               0
order_purchase_timestamp         0
customer_zip_code_prefixfirst    0
diff                             1
dtype: int64

In [30]:
cust_order_buy4["diff"] = cust_order_buy4["diff"].fillna(0)
cust_order_buy4

,customer_unique_id,order_purchase_timestamp,customer_zip_code_prefixfirst,diff
0,0000366f3b9a7992bf8c76cfdf3221e2,2018-05-10 10:56:27,7787,0.0
1,0000b849f77a49e4a4ce2b2a4ca5be3f,2018-05-07 11:11:27,6053,0.0
2,0000f46a3911fa3c0805444483337064,2017-03-10 21:05:03,88115,0.0
3,0000f6ccb0745a6a4b88665a16c9f078,2017-10-12 20:29:41,66812,0.0
4,0004aac84e0df4da2b147fca70cf8255,2017-11-14 19:45:42,18040,0.0
...,...,...,...,...
97919,fffcf5a5ff07b0908bd4e2dbc735a684,2017-06-08 21:00:36,55250,0.0
97920,fffea47cd6d3cc0a88bd621562a9d061,2017-12-10 20:07:56,44054,0.0
97921,ffff371b4d645b6ecea244b27531430a,2017-02-07 15:49:16,78552,0.0
97922,ffff5962728ec6157033ef9805bacc48,2018-05-02 15:17:41,29460,0.0
97923,ffffd2657e2aad2907e67c3e9daecbeb,2017-05-02 20:18:45,83608,0.0

In [31]:
def flags(df) : 
    if df["diff"] <= 0 : 
        return 1
    elif df["diff"] <= 3 :
        return 0
    else :
        return 1

    
cust_order_buy4["flagging"] = cust_order_buy4.apply(flags, axis =1 )

In [32]:
cust_order_buy4

,customer_unique_id,order_purchase_timestamp,customer_zip_code_prefixfirst,diff,flagging
0,0000366f3b9a7992bf8c76cfdf3221e2,2018-05-10 10:56:27,7787,0.0,1
1,0000b849f77a49e4a4ce2b2a4ca5be3f,2018-05-07 11:11:27,6053,0.0,1
2,0000f46a3911fa3c0805444483337064,2017-03-10 21:05:03,88115,0.0,1
3,0000f6ccb0745a6a4b88665a16c9f078,2017-10-12 20:29:41,66812,0.0,1
4,0004aac84e0df4da2b147fca70cf8255,2017-11-14 19:45:42,18040,0.0,1
...,...,...,...,...,...
97919,fffcf5a5ff07b0908bd4e2dbc735a684,2017-06-08 21:00:36,55250,0.0,1
97920,fffea47cd6d3cc0a88bd621562a9d061,2017-12-10 20:07:56,44054,0.0,1
97921,ffff371b4d645b6ecea244b27531430a,2017-02-07 15:49:16,78552,0.0,1
97922,ffff5962728ec6157033ef9805bacc48,2018-05-02 15:17:41,29460,0.0,1
97923,ffffd2657e2aad2907e67c3e9daecbeb,2017-05-02 20:18:45,83608,0.0,1

In [33]:
cust_order_buy4["flagging"].value_counts()

1    96974
0      950
Name: flagging, dtype: int64

Score Reviews perOrder

In [34]:
review = pd.read_csv('../input/brazilian-ecommerce/olist_order_reviews_dataset.csv')
review.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,ParabÃ©ns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

In [35]:
review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  object
 6   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

In [36]:
order_review = pd.merge(order2[["customer_id","order_purchase_timestamp","order_id"]],review[["order_id","review_score"]], on = "order_id", how = "left")
order_review.shape

(98752, 4)

In [37]:
order_review

,customer_id,order_purchase_timestamp,order_id,review_score
0,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,e481f51cbdc54678b7cc49136f2d6af7,4.0
1,b0830fb4747a6c6d20dea0b8c802d7ef,2018-07-24 20:41:37,53cdb2fc8bc7dce0b6741e2150273451,4.0
2,41ce2a54c0b03bf3443c3d931a367089,2018-08-08 08:38:49,47770eb9100c2d0c44946d9cf07ec65d,5.0
3,f88197465ea7920adcdbec7375364d82,2017-11-18 19:28:06,949d5b44dbf5de918fe9c16f97b45f8a,5.0
4,8ab97904e6daea8866dbdbc4fb7aad2c,2018-02-13 21:18:39,ad21c59c0840e6cb83a9ceb5573f8159,5.0
...,...,...,...,...
98747,39bd1228ee8140590ac3aca26f2dfe00,2017-03-09 09:54:05,9c5dedf39a927c1b2549525ed64a053c,5.0
98748,1fca14ff2861355f6e5f14306ff977a7,2018-02-06 12:58:58,63943bddc261676b46f01ca7ac2f7bd8,4.0
98749,1aa71eb042121263aafbe80c1b562c9c,2017-08-27 14:46:43,83c1379a015df1e13d02aae0204711ab,5.0
98750,b331b74b18dc79bcdf6532d51e1637c1,2018-01-08 21:28:27,11c177c8e97725db2631073c19f07b62,2.0
98751,edb027a75a1449115f6b43211ae02a24,2018-03-08 20:57:30,66dea50a8b16d9b4dee7af250b4be1a5,5.0

In [38]:
order_review_cust = pd.merge(cust[["customer_id","customer_unique_id"]],order_review[["customer_id","order_purchase_timestamp","review_score"]], on = "customer_id", how = "left")
order_review_cust.shape

(99986, 4)

In [39]:
order_review_cust

,customer_id,customer_unique_id,order_purchase_timestamp,review_score
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,2017-05-16 15:05:35,4.0
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,2018-01-12 20:48:24,5.0
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,2018-05-19 16:07:45,5.0
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,2018-03-13 16:06:38,5.0
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,2018-07-29 09:51:30,5.0
...,...,...,...,...
99981,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,2018-04-07 15:48:17,4.0
99982,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,2018-04-04 08:20:22,5.0
99983,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,2018-04-08 20:11:50,1.0
99984,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,2017-11-03 21:08:33,5.0
99985,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,2017-12-19 14:27:23,5.0

In [40]:
order_review_cust2 = order_review_cust.groupby(["customer_unique_id","order_purchase_timestamp"], as_index = False).agg({"review_score" : ["max"]                                                               
})

order_review_cust2.columns = list(map(''.join,order_review_cust2.columns.values))

In [41]:
order_review_cust2

,customer_unique_id,order_purchase_timestamp,review_scoremax
0,0000366f3b9a7992bf8c76cfdf3221e2,2018-05-10 10:56:27,5.0
1,0000b849f77a49e4a4ce2b2a4ca5be3f,2018-05-07 11:11:27,4.0
2,0000f46a3911fa3c0805444483337064,2017-03-10 21:05:03,3.0
3,0000f6ccb0745a6a4b88665a16c9f078,2017-10-12 20:29:41,4.0
4,0004aac84e0df4da2b147fca70cf8255,2017-11-14 19:45:42,5.0
...,...,...,...
97919,fffcf5a5ff07b0908bd4e2dbc735a684,2017-06-08 21:00:36,5.0
97920,fffea47cd6d3cc0a88bd621562a9d061,2017-12-10 20:07:56,4.0
97921,ffff371b4d645b6ecea244b27531430a,2017-02-07 15:49:16,5.0
97922,ffff5962728ec6157033ef9805bacc48,2018-05-02 15:17:41,5.0
97923,ffffd2657e2aad2907e67c3e9daecbeb,2017-05-02 20:18:45,5.0

In [42]:
order_review_cust2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97924 entries, 0 to 97923
Data columns (total 3 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_unique_id        97924 non-null  object
 1   order_purchase_timestamp  97924 non-null  object
 2   review_scoremax           97195 non-null  float64
dtypes: float64(1), object(2)
memory usage: 2.2+ MB

In [43]:
from datetime import datetime
order_review_cust2["order_purchase_timestamp"] = pd.to_datetime(order_review_cust2["order_purchase_timestamp"])
order_review_cust2['order_purchase_timestamp'] = order_review_cust2['order_purchase_timestamp'].dt.strftime('%Y-%m')
order_review_cust2["order_purchase_timestamp"] = pd.to_datetime(order_review_cust2["order_purchase_timestamp"])

In [44]:
order_review_cust2

,customer_unique_id,order_purchase_timestamp,review_scoremax
0,0000366f3b9a7992bf8c76cfdf3221e2,2018-05-01,5.0
1,0000b849f77a49e4a4ce2b2a4ca5be3f,2018-05-01,4.0
2,0000f46a3911fa3c0805444483337064,2017-03-01,3.0
3,0000f6ccb0745a6a4b88665a16c9f078,2017-10-01,4.0
4,0004aac84e0df4da2b147fca70cf8255,2017-11-01,5.0
...,...,...,...
97919,fffcf5a5ff07b0908bd4e2dbc735a684,2017-06-01,5.0
97920,fffea47cd6d3cc0a88bd621562a9d061,2017-12-01,4.0
97921,ffff371b4d645b6ecea244b27531430a,2017-02-01,5.0
97922,ffff5962728ec6157033ef9805bacc48,2018-05-01,5.0
97923,ffffd2657e2aad2907e67c3e9daecbeb,2017-05-01,5.0

In [45]:
result1 = pd.concat([cust_order_buy4, order_review_cust2["review_scoremax"]],axis=1)
result1

,customer_unique_id,order_purchase_timestamp,customer_zip_code_prefixfirst,diff,flagging,review_scoremax
0,0000366f3b9a7992bf8c76cfdf3221e2,2018-05-10 10:56:27,7787,0.0,1,5.0
1,0000b849f77a49e4a4ce2b2a4ca5be3f,2018-05-07 11:11:27,6053,0.0,1,4.0
2,0000f46a3911fa3c0805444483337064,2017-03-10 21:05:03,88115,0.0,1,3.0
3,0000f6ccb0745a6a4b88665a16c9f078,2017-10-12 20:29:41,66812,0.0,1,4.0
4,0004aac84e0df4da2b147fca70cf8255,2017-11-14 19:45:42,18040,0.0,1,5.0
...,...,...,...,...,...,...
97919,fffcf5a5ff07b0908bd4e2dbc735a684,2017-06-08 21:00:36,55250,0.0,1,5.0
97920,fffea47cd6d3cc0a88bd621562a9d061,2017-12-10 20:07:56,44054,0.0,1,4.0
97921,ffff371b4d645b6ecea244b27531430a,2017-02-07 15:49:16,78552,0.0,1,5.0
97922,ffff5962728ec6157033ef9805bacc48,2018-05-02 15:17:41,29460,0.0,1,5.0
97923,ffffd2657e2aad2907e67c3e9daecbeb,2017-05-02 20:18:45,83608,0.0,1,5.0

Value pembelian tiap order

In [46]:
payment = pd.read_csv('../input/brazilian-ecommerce/olist_order_payments_dataset.csv')
payment

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45
...,...,...,...,...,...
103881,0406037ad97740d563a178ecc7a2075c,1,boleto,1,363.31
103882,7b905861d7c825891d6347454ea7863f,1,credit_card,2,96.80
103883,32609bbb3dd69b3c066a6860554a77bf,1,credit_card,1,47.77
103884,b8b61059626efa996a60be9bb9320e10,1,credit_card,5,369.54
103885,28bbae6599b09d39ca406b747b6632b1,1,boleto,1,191.58

In [47]:
order_payment = pd.merge(order2[["customer_id","order_purchase_timestamp","order_id"]],payment[["order_id","payment_value"]], on = "order_id", how = "left")
order_payment.shape

(102574, 4)

In [48]:
order_payment

,customer_id,order_purchase_timestamp,order_id,payment_value
0,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,e481f51cbdc54678b7cc49136f2d6af7,18.12
1,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,e481f51cbdc54678b7cc49136f2d6af7,2.00
2,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,e481f51cbdc54678b7cc49136f2d6af7,18.59
3,b0830fb4747a6c6d20dea0b8c802d7ef,2018-07-24 20:41:37,53cdb2fc8bc7dce0b6741e2150273451,141.46
4,41ce2a54c0b03bf3443c3d931a367089,2018-08-08 08:38:49,47770eb9100c2d0c44946d9cf07ec65d,179.12
...,...,...,...,...
102569,39bd1228ee8140590ac3aca26f2dfe00,2017-03-09 09:54:05,9c5dedf39a927c1b2549525ed64a053c,85.08
102570,1fca14ff2861355f6e5f14306ff977a7,2018-02-06 12:58:58,63943bddc261676b46f01ca7ac2f7bd8,195.00
102571,1aa71eb042121263aafbe80c1b562c9c,2017-08-27 14:46:43,83c1379a015df1e13d02aae0204711ab,271.01
102572,b331b74b18dc79bcdf6532d51e1637c1,2018-01-08 21:28:27,11c177c8e97725db2631073c19f07b62,441.16
102573,edb027a75a1449115f6b43211ae02a24,2018-03-08 20:57:30,66dea50a8b16d9b4dee7af250b4be1a5,86.86

In [49]:
order_payment.isna().sum()

customer_id                 0
order_purchase_timestamp    0
order_id                    0
payment_value               1
dtype: int64

In [50]:
order_payment["payment_value"] = order_payment["payment_value"].fillna(0)
order_payment

,customer_id,order_purchase_timestamp,order_id,payment_value
0,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,e481f51cbdc54678b7cc49136f2d6af7,18.12
1,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,e481f51cbdc54678b7cc49136f2d6af7,2.00
2,9ef432eb6251297304e76186b10a928d,2017-10-02 10:56:33,e481f51cbdc54678b7cc49136f2d6af7,18.59
3,b0830fb4747a6c6d20dea0b8c802d7ef,2018-07-24 20:41:37,53cdb2fc8bc7dce0b6741e2150273451,141.46
4,41ce2a54c0b03bf3443c3d931a367089,2018-08-08 08:38:49,47770eb9100c2d0c44946d9cf07ec65d,179.12
...,...,...,...,...
102569,39bd1228ee8140590ac3aca26f2dfe00,2017-03-09 09:54:05,9c5dedf39a927c1b2549525ed64a053c,85.08
102570,1fca14ff2861355f6e5f14306ff977a7,2018-02-06 12:58:58,63943bddc261676b46f01ca7ac2f7bd8,195.00
102571,1aa71eb042121263aafbe80c1b562c9c,2017-08-27 14:46:43,83c1379a015df1e13d02aae0204711ab,271.01
102572,b331b74b18dc79bcdf6532d51e1637c1,2018-01-08 21:28:27,11c177c8e97725db2631073c19f07b62,441.16
102573,edb027a75a1449115f6b43211ae02a24,2018-03-08 20:57:30,66dea50a8b16d9b4dee7af250b4be1a5,86.86

In [51]:
order_payment.isna().sum()

customer_id                 0
order_purchase_timestamp    0
order_id                    0
payment_value               0
dtype: int64

In [52]:
order_payment_cust = pd.merge(cust[["customer_id","customer_unique_id"]],order_payment[["customer_id","order_purchase_timestamp","payment_value"]], on = "customer_id", how = "left")
order_payment_cust.shape

(103808, 4)

In [53]:
order_payment_cust

,customer_id,customer_unique_id,order_purchase_timestamp,payment_value
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,2017-05-16 15:05:35,146.87
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,2018-01-12 20:48:24,335.48
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,2018-05-19 16:07:45,157.73
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,2018-03-13 16:06:38,173.30
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,2018-07-29 09:51:30,252.25
...,...,...,...,...
103803,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,2018-04-07 15:48:17,88.78
103804,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,2018-04-04 08:20:22,129.06
103805,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,2018-04-08 20:11:50,56.04
103806,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,2017-11-03 21:08:33,711.07
103807,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,2017-12-19 14:27:23,21.77

In [54]:
order_payment_cust2 = order_payment_cust.groupby(["customer_unique_id","order_purchase_timestamp"], as_index = False).agg({"payment_value" : ["sum"]                                                               
})

order_payment_cust2.columns = list(map(''.join,order_payment_cust2.columns.values))

In [55]:
from datetime import datetime
order_payment_cust2["order_purchase_timestamp"] = pd.to_datetime(order_payment_cust2["order_purchase_timestamp"])
order_payment_cust2['order_purchase_timestamp'] = order_payment_cust2['order_purchase_timestamp'].dt.strftime('%Y-%m')
order_payment_cust2["order_purchase_timestamp"] = pd.to_datetime(order_payment_cust2["order_purchase_timestamp"])

In [56]:
order_payment_cust2

,customer_unique_id,order_purchase_timestamp,payment_valuesum
0,0000366f3b9a7992bf8c76cfdf3221e2,2018-05-01,141.90
1,0000b849f77a49e4a4ce2b2a4ca5be3f,2018-05-01,27.19
2,0000f46a3911fa3c0805444483337064,2017-03-01,86.22
3,0000f6ccb0745a6a4b88665a16c9f078,2017-10-01,43.62
4,0004aac84e0df4da2b147fca70cf8255,2017-11-01,196.89
...,...,...,...
97919,fffcf5a5ff07b0908bd4e2dbc735a684,2017-06-01,2067.42
97920,fffea47cd6d3cc0a88bd621562a9d061,2017-12-01,84.58
97921,ffff371b4d645b6ecea244b27531430a,2017-02-01,112.46
97922,ffff5962728ec6157033ef9805bacc48,2018-05-01,133.69
97923,ffffd2657e2aad2907e67c3e9daecbeb,2017-05-01,71.56

In [57]:
order_payment_cust2.describe()

       payment_valuesum
count      97924.000000
mean         160.728085
std          219.571286
min            0.000000
25%           62.060000
50%          105.555000
75%          177.320000
max        13664.080000

In [58]:
valuerange = [-1, 100, 500, 1000,15000]
kategori = [0, 1, 2, 3] #0murah,1lumayan,2mahal,3Borong
order_payment_cust2['Category_payment'] = pd.cut(order_payment_cust2['payment_valuesum'], bins=valuerange, labels=kategori)

In [59]:
order_payment_cust2

,customer_unique_id,order_purchase_timestamp,payment_valuesum,Category_payment
0,0000366f3b9a7992bf8c76cfdf3221e2,2018-05-01,141.90,1
1,0000b849f77a49e4a4ce2b2a4ca5be3f,2018-05-01,27.19,0
2,0000f46a3911fa3c0805444483337064,2017-03-01,86.22,0
3,0000f6ccb0745a6a4b88665a16c9f078,2017-10-01,43.62,0
4,0004aac84e0df4da2b147fca70cf8255,2017-11-01,196.89,1
...,...,...,...,...
97919,fffcf5a5ff07b0908bd4e2dbc735a684,2017-06-01,2067.42,3
97920,fffea47cd6d3cc0a88bd621562a9d061,2017-12-01,84.58,0
97921,ffff371b4d645b6ecea244b27531430a,2017-02-01,112.46,1
97922,ffff5962728ec6157033ef9805bacc48,2018-05-01,133.69,1
97923,ffffd2657e2aad2907e67c3e9daecbeb,2017-05-01,71.56,0

In [60]:
order_payment_cust2.dtypes

customer_unique_id                  object
order_purchase_timestamp    datetime64[ns]
payment_valuesum                   float64
Category_payment                  category
dtype: object

In [61]:
order_payment_cust2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97924 entries, 0 to 97923
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_unique_id        97924 non-null  object
 1   order_purchase_timestamp  97924 non-null  datetime64[ns]
 2   payment_valuesum          97924 non-null  float64
 3   Category_payment          97924 non-null  category
dtypes: category(1), datetime64[ns](1), float64(1), object(1)
memory usage: 2.3+ MB

In [62]:
order_payment_cust2["Category_payment"] = order_payment_cust2["Category_payment"].astype(int)

In [63]:
result2 = pd.concat([result1, order_payment_cust2["Category_payment"]],axis=1)
result2

,customer_unique_id,order_purchase_timestamp,customer_zip_code_prefixfirst,diff,flagging,review_scoremax,Category_payment
0,0000366f3b9a7992bf8c76cfdf3221e2,2018-05-10 10:56:27,7787,0.0,1,5.0,1
1,0000b849f77a49e4a4ce2b2a4ca5be3f,2018-05-07 11:11:27,6053,0.0,1,4.0,0
2,0000f46a3911fa3c0805444483337064,2017-03-10 21:05:03,88115,0.0,1,3.0,0
3,0000f6ccb0745a6a4b88665a16c9f078,2017-10-12 20:29:41,66812,0.0,1,4.0,0
4,0004aac84e0df4da2b147fca70cf8255,2017-11-14 19:45:42,18040,0.0,1,5.0,1
...,...,...,...,...,...,...,...
97919,fffcf5a5ff07b0908bd4e2dbc735a684,2017-06-08 21:00:36,55250,0.0,1,5.0,3
97920,fffea47cd6d3cc0a88bd621562a9d061,2017-12-10 20:07:56,44054,0.0,1,4.0,0
97921,ffff371b4d645b6ecea244b27531430a,2017-02-07 15:49:16,78552,0.0,1,5.0,1
97922,ffff5962728ec6157033ef9805bacc48,2018-05-02 15:17:41,29460,0.0,1,5.0,1
97923,ffffd2657e2aad2907e67c3e9daecbeb,2017-05-02 20:18:45,83608,0.0,1,5.0,0

In [64]:
result2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97924 entries, 0 to 97923
Data columns (total 7 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   customer_unique_id             97924 non-null  object
 1   order_purchase_timestamp       97924 non-null  datetime64[ns]
 2   customer_zip_code_prefixfirst  97924 non-null  int64
 3   diff                           97924 non-null  float64
 4   flagging                       97924 non-null  int64
 5   review_scoremax                97195 non-null  float64
 6   Category_payment               97924 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(3), object(1)
memory usage: 5.2+ MB

In [65]:
result2.describe()

,customer_zip_code_prefixfirst,diff,flagging,review_scoremax,Category_payment
count,97924.000000,97924.000000,97924.000000,97195.000000,97924.000000
mean,35202.445907,0.084719,0.990299,4.119111,0.580552
std,29809.913240,0.791843,0.098017,1.318960,0.612843
min,1003.000000,0.000000,0.000000,1.000000,0.000000
25%,11420.000000,0.000000,1.000000,4.000000,0.000000
50%,24440.000000,0.000000,1.000000,5.000000,1.000000
75%,59054.000000,0.000000,1.000000,5.000000,1.000000
max,99990.000000,20.000000,1.000000,5.000000,3.000000

In [66]:
#dengan asumsi yang tidak mereview berarti review score tidak bagus dan tidak jelek, diberi angka 3
result2["review_scoremax"] = result2["review_scoremax"].fillna(0)
result2

,customer_unique_id,order_purchase_timestamp,customer_zip_code_prefixfirst,diff,flagging,review_scoremax,Category_payment
0,0000366f3b9a7992bf8c76cfdf3221e2,2018-05-10 10:56:27,7787,0.0,1,5.0,1
1,0000b849f77a49e4a4ce2b2a4ca5be3f,2018-05-07 11:11:27,6053,0.0,1,4.0,0
2,0000f46a3911fa3c0805444483337064,2017-03-10 21:05:03,88115,0.0,1,3.0,0
3,0000f6ccb0745a6a4b88665a16c9f078,2017-10-12 20:29:41,66812,0.0,1,4.0,0
4,0004aac84e0df4da2b147fca70cf8255,2017-11-14 19:45:42,18040,0.0,1,5.0,1
...,...,...,...,...,...,...,...
97919,fffcf5a5ff07b0908bd4e2dbc735a684,2017-06-08 21:00:36,55250,0.0,1,5.0,3
97920,fffea47cd6d3cc0a88bd621562a9d061,2017-12-10 20:07:56,44054,0.0,1,4.0,0
97921,ffff371b4d645b6ecea244b27531430a,2017-02-07 15:49:16,78552,0.0,1,5.0,1
97922,ffff5962728ec6157033ef9805bacc48,2018-05-02 15:17:41,29460,0.0,1,5.0,1
97923,ffffd2657e2aad2907e67c3e9daecbeb,2017-05-02 20:18:45,83608,0.0,1,5.0,0

Asal daerah pembelian

In [67]:
geo = pd.read_csv('../input/brazilian-ecommerce/olist_geolocation_dataset.csv')
geo

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP
...,...,...,...,...,...
1000158,99950,-28.068639,-52.010705,tapejara,RS
1000159,99900,-27.877125,-52.224882,getulio vargas,RS
1000160,99950,-28.071855,-52.014716,tapejara,RS
1000161,99980,-28.388932,-51.846871,david canabarro,RS
1000162,99950,-28.070104,-52.018658,tapejara,RS

In [68]:
geo['geolocation_state'].value_counts()

SP    404268
MG    126336
RJ    121169
RS     61851
PR     57859
SC     38328
BA     36045
GO     20139
ES     16748
PE     16432
DF     12986
MT     12031
CE     11674
PA     10853
MS     10431
MA      7853
PB      5538
RN      5041
PI      4549
AL      4183
TO      3576
SE      3563
RO      3478
AM      2432
AC      1301
AP       853
RR       646
Name: geolocation_state, dtype: int64

In [69]:
cust

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP
...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP

In [70]:
cust = cust.rename(columns={"customer_zip_code_prefix": "zip_code_prefix"})
cust

,customer_id,customer_unique_id,zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP
...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP

In [71]:
geo = geo.rename(columns={"geolocation_zip_code_prefix": "zip_code_prefix"})
geo

,zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP
...,...,...,...,...,...
1000158,99950,-28.068639,-52.010705,tapejara,RS
1000159,99900,-27.877125,-52.224882,getulio vargas,RS
1000160,99950,-28.071855,-52.014716,tapejara,RS
1000161,99980,-28.388932,-51.846871,david canabarro,RS
1000162,99950,-28.070104,-52.018658,tapejara,RS

In [72]:
cust_geo = pd.merge(cust[["customer_id","customer_unique_id","zip_code_prefix"]], geo[["zip_code_prefix","geolocation_state"]], on = "zip_code_prefix", how = "left")
cust_geo.shape

(15083733, 4)

In [73]:
cust_geo

,customer_id,customer_unique_id,zip_code_prefix,geolocation_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,SP
1,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,SP
2,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,SP
3,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,SP
4,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,SP
...,...,...,...,...
15083728,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,SP
15083729,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,SP
15083730,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,SP
15083731,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,SP
15083732,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,SP

In [74]:
cust_geo["customer_unique_id"].unique().size

96096

In [75]:
cust_geo2 = cust_geo.groupby(["customer_unique_id","zip_code_prefix"], as_index = False).agg({"geolocation_state" : ["last"]                                                               
})

cust_geo2.columns = list(map(''.join,cust_geo2.columns.values))

In [76]:
cust_geo2

                     customer_unique_id  zip_code_prefix geolocation_statelast
0      0000366f3b9a7992bf8c76cfdf3221e2             7787                    SP
1      0000b849f77a49e4a4ce2b2a4ca5be3f             6053                    SP
2      0000f46a3911fa3c0805444483337064            88115                    SC
3      0000f6ccb0745a6a4b88665a16c9f078            66812                    PA
4      0004aac84e0df4da2b147fca70cf8255            18040                    SP
...                                 ...              ...                   ...
96345  fffcf5a5ff07b0908bd4e2dbc735a684            55250                    PE
96346  fffea47cd6d3cc0a88bd621562a9d061            44054                    BA
96347  ffff371b4d645b6ecea244b27531430a            78552                    MT
96348  ffff5962728ec6157033ef9805bacc48            29460                    ES
96349  ffffd2657e2aad2907e67c3e9daecbeb            83608                    PR

[96350 rows x 3 columns]

In [77]:
cust_order

,customer_id,customer_unique_id,customer_zip_code_prefix,order_purchase_timestamp,order_id
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,2017-05-16 15:05:35,00e7ee1b050b8499577073aeb2a297a1
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,2018-01-12 20:48:24,29150127e6685892b6eab3eec79f59c7
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,2018-05-19 16:07:45,b2059ed67ce144a36e2aa97d2c9e9ad2
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,2018-03-13 16:06:38,951670f92359f4fe4a63112aa7306eba
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,2018-07-29 09:51:30,6b7d50bd145f6fc7f33cebabd7e49d0f
...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,2018-04-07 15:48:17,6760e20addcf0121e9d58f2f1ff14298
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,2018-04-04 08:20:22,9ec0c8947d973db4f4e8dcf1fbfa8f1b
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,2018-04-08 20:11:50,fed4434add09a6f332ea398efd656a5c
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,2017-11-03 21:08:33,e31ec91cea1ecf97797787471f98a8c2
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,2017-12-19 14:27:23,28db69209a75e59f20ccbb5c36a20b90

In [78]:
cust_order = cust_order.rename(columns={"customer_zip_code_prefix": "zip_code_prefix"})
cust_order

,customer_id,customer_unique_id,zip_code_prefix,order_purchase_timestamp,order_id
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,2017-05-16 15:05:35,00e7ee1b050b8499577073aeb2a297a1
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,2018-01-12 20:48:24,29150127e6685892b6eab3eec79f59c7
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,2018-05-19 16:07:45,b2059ed67ce144a36e2aa97d2c9e9ad2
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,2018-03-13 16:06:38,951670f92359f4fe4a63112aa7306eba
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,2018-07-29 09:51:30,6b7d50bd145f6fc7f33cebabd7e49d0f
...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,2018-04-07 15:48:17,6760e20addcf0121e9d58f2f1ff14298
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,2018-04-04 08:20:22,9ec0c8947d973db4f4e8dcf1fbfa8f1b
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,2018-04-08 20:11:50,fed4434add09a6f332ea398efd656a5c
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,2017-11-03 21:08:33,e31ec91cea1ecf97797787471f98a8c2
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,2017-12-19 14:27:23,28db69209a75e59f20ccbb5c36a20b90

In [79]:
cust_order_geo= pd.merge(cust_order[["customer_unique_id","zip_code_prefix"]], cust_geo2[["zip_code_prefix","geolocation_statelast"]], on = "zip_code_prefix", how = "left")
cust_order_geo

,customer_unique_id,zip_code_prefix,geolocation_statelast
0,861eff4711a542e4b93843c6dd7febb0,14409,SP
1,861eff4711a542e4b93843c6dd7febb0,14409,SP
2,861eff4711a542e4b93843c6dd7febb0,14409,SP
3,861eff4711a542e4b93843c6dd7febb0,14409,SP
4,861eff4711a542e4b93843c6dd7febb0,14409,SP
...,...,...,...
1654322,84732c5050c01db9b23e19ba39899398,6703,SP
1654323,84732c5050c01db9b23e19ba39899398,6703,SP
1654324,84732c5050c01db9b23e19ba39899398,6703,SP
1654325,84732c5050c01db9b23e19ba39899398,6703,SP
1654326,84732c5050c01db9b23e19ba39899398,6703,SP

In [80]:
cust_order_geo.isna().sum()

customer_unique_id          0
zip_code_prefix             0
geolocation_statelast    1032
dtype: int64

In [81]:
cust_order_geo = cust_order_geo.groupby(["customer_unique_id","zip_code_prefix"], as_index = False).agg({"geolocation_statelast" : ["last"]                                                               
})

cust_order_geo.columns = list(map(''.join,cust_order_geo.columns.values))
cust_order_geo = cust_order_geo.rename(columns={"geolocation_statelastlast": "geolocation_state",})
cust_order_geo

                     customer_unique_id  zip_code_prefix geolocation_state
0      0000366f3b9a7992bf8c76cfdf3221e2             7787                SP
1      0000b849f77a49e4a4ce2b2a4ca5be3f             6053                SP
2      0000f46a3911fa3c0805444483337064            88115                SC
3      0000f6ccb0745a6a4b88665a16c9f078            66812                PA
4      0004aac84e0df4da2b147fca70cf8255            18040                SP
...                                 ...              ...               ...
96345  fffcf5a5ff07b0908bd4e2dbc735a684            55250                PE
96346  fffea47cd6d3cc0a88bd621562a9d061            44054                BA
96347  ffff371b4d645b6ecea244b27531430a            78552                MT
96348  ffff5962728ec6157033ef9805bacc48            29460                ES
96349  ffffd2657e2aad2907e67c3e9daecbeb            83608                PR

[96350 rows x 3 columns]

In [82]:
cust_order_geo.isna().sum()

customer_unique_id      0
zip_code_prefix         0
geolocation_state     269
dtype: int64

In [83]:
result3 = pd.concat([result2, cust_order_geo["geolocation_state"]],axis=1)
result3

,customer_unique_id,order_purchase_timestamp,customer_zip_code_prefixfirst,diff,flagging,review_scoremax,Category_payment,geolocation_state
0,0000366f3b9a7992bf8c76cfdf3221e2,2018-05-10 10:56:27,7787,0.0,1,5.0,1,SP
1,0000b849f77a49e4a4ce2b2a4ca5be3f,2018-05-07 11:11:27,6053,0.0,1,4.0,0,SP
2,0000f46a3911fa3c0805444483337064,2017-03-10 21:05:03,88115,0.0,1,3.0,0,SC
3,0000f6ccb0745a6a4b88665a16c9f078,2017-10-12 20:29:41,66812,0.0,1,4.0,0,PA
4,0004aac84e0df4da2b147fca70cf8255,2017-11-14 19:45:42,18040,0.0,1,5.0,1,SP
...,...,...,...,...,...,...,...,...
97919,fffcf5a5ff07b0908bd4e2dbc735a684,2017-06-08 21:00:36,55250,0.0,1,5.0,3,NaN
97920,fffea47cd6d3cc0a88bd621562a9d061,2017-12-10 20:07:56,44054,0.0,1,4.0,0,NaN
97921,ffff371b4d645b6ecea244b27531430a,2017-02-07 15:49:16,78552,0.0,1,5.0,1,NaN
97922,ffff5962728ec6157033ef9805bacc48,2018-05-02 15:17:41,29460,0.0,1,5.0,1,NaN
97923,ffffd2657e2aad2907e67c3e9daecbeb,2017-05-02 20:18:45,83608,0.0,1,5.0,0,NaN

In [84]:
result3.isna().sum()

customer_unique_id                  0
order_purchase_timestamp            0
customer_zip_code_prefixfirst       0
diff                                0
flagging                            0
review_scoremax                     0
Category_payment                    0
geolocation_state                1843
dtype: int64

In [85]:
result3 = result3[~result3["geolocation_state"].isna()]
result3

,customer_unique_id,order_purchase_timestamp,customer_zip_code_prefixfirst,diff,flagging,review_scoremax,Category_payment,geolocation_state
0,0000366f3b9a7992bf8c76cfdf3221e2,2018-05-10 10:56:27,7787,0.0,1,5.0,1,SP
1,0000b849f77a49e4a4ce2b2a4ca5be3f,2018-05-07 11:11:27,6053,0.0,1,4.0,0,SP
2,0000f46a3911fa3c0805444483337064,2017-03-10 21:05:03,88115,0.0,1,3.0,0,SC
3,0000f6ccb0745a6a4b88665a16c9f078,2017-10-12 20:29:41,66812,0.0,1,4.0,0,PA
4,0004aac84e0df4da2b147fca70cf8255,2017-11-14 19:45:42,18040,0.0,1,5.0,1,SP
...,...,...,...,...,...,...,...,...
96345,fbd10bdfa725fd272755f9dd98752105,2017-12-30 21:44:05,35930,0.0,1,4.0,1,PE
96346,fbd11c96273ccf29c8e3078c5308f837,2017-10-25 11:42:39,78556,0.0,1,5.0,1,BA
96347,fbd1e2b88791dae0188d83d445a0fabf,2017-08-20 18:09:55,48120,0.0,1,5.0,0,MT
96348,fbd3085c1981e8f769497eda747964ca,2018-06-28 23:17:06,7091,0.0,1,4.0,1,ES
96349,fbd45572765900cf329bb14ef313eb99,2017-11-26 10:18:35,63028,0.0,1,4.0,1,PR

In [86]:
result3.isna().sum()

customer_unique_id               0
order_purchase_timestamp         0
customer_zip_code_prefixfirst    0
diff                             0
flagging                         0
review_scoremax                  0
Category_payment                 0
geolocation_state                0
dtype: int64

In [87]:
from sklearn.preprocessing import LabelEncoder
labelEncoder = LabelEncoder()

result3['geolocation_state'] = labelEncoder.fit_transform(result3['geolocation_state'])
result3

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,customer_unique_id,order_purchase_timestamp,customer_zip_code_prefixfirst,diff,flagging,review_scoremax,Category_payment,geolocation_state
0,0000366f3b9a7992bf8c76cfdf3221e2,2018-05-10 10:56:27,7787,0.0,1,5.0,1,25
1,0000b849f77a49e4a4ce2b2a4ca5be3f,2018-05-07 11:11:27,6053,0.0,1,4.0,0,25
2,0000f46a3911fa3c0805444483337064,2017-03-10 21:05:03,88115,0.0,1,3.0,0,23
3,0000f6ccb0745a6a4b88665a16c9f078,2017-10-12 20:29:41,66812,0.0,1,4.0,0,13
4,0004aac84e0df4da2b147fca70cf8255,2017-11-14 19:45:42,18040,0.0,1,5.0,1,25
...,...,...,...,...,...,...,...,...
96345,fbd10bdfa725fd272755f9dd98752105,2017-12-30 21:44:05,35930,0.0,1,4.0,1,15
96346,fbd11c96273ccf29c8e3078c5308f837,2017-10-25 11:42:39,78556,0.0,1,5.0,1,4
96347,fbd1e2b88791dae0188d83d445a0fabf,2017-08-20 18:09:55,48120,0.0,1,5.0,0,12
96348,fbd3085c1981e8f769497eda747964ca,2018-06-28 23:17:06,7091,0.0,1,4.0,1,7
96349,fbd45572765900cf329bb14ef313eb99,2017-11-26 10:18:35,63028,0.0,1,4.0,1,17

In [88]:
result3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 96081 entries, 0 to 96349
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   customer_unique_id             96081 non-null  object
 1   order_purchase_timestamp       96081 non-null  datetime64[ns]
 2   customer_zip_code_prefixfirst  96081 non-null  int64
 3   diff                           96081 non-null  float64
 4   flagging                       96081 non-null  int64
 5   review_scoremax                96081 non-null  float64
 6   Category_payment               96081 non-null  int64
 7   geolocation_state              96081 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(4), object(1)
memory usage: 6.6+ MB

Asessment Features

In [89]:
a = pd.crosstab(result3["review_scoremax"],result3["flagging"], margins=True, margins_name="Total")
a

flagging           0      1  Total
review_scoremax
0.0               11    706    717
1.0               75  10112  10187
2.0               26   2947   2973
3.0               82   7772   7854
4.0              161  18446  18607
5.0              582  55161  55743
Total            937  95144  96081

In [90]:
b = pd.crosstab(result3["Category_payment"],result3["flagging"], margins=True, margins_name="Total")
b

flagging            0      1  Total
Category_payment
0                 426  45145  45571
1                 483  45919  46402
2                  22   2980   3002
3                   6   1100   1106
Total             937  95144  96081

In [91]:
c = pd.crosstab(result3["customer_zip_code_prefixfirst"],result3["flagging"], margins=True, margins_name="Total")
c

flagging                         0      1  Total
customer_zip_code_prefixfirst
1003                             0      1      1
1004                             0      2      2
1005                             0      6      6
1006                             0      2      2
1007                             0      4      4
...                            ...    ...    ...
99965                            0      2      2
99970                            0      1      1
99980                            0      2      2
99990                            0      1      1
Total                          937  95144  96081

[14910 rows x 3 columns]

In [92]:
d = pd.crosstab(result3["geolocation_state"],result3["flagging"], margins=True, margins_name="Total")
d

flagging             0      1  Total
geolocation_state
0                    0     77     77
1                    4    398    402
2                    1    143    144
3                    0     67     67
4                   22   3250   3272
5                   10   1301   1311
6                   19   1892   1911
7                   18   1948   1966
8                   16   1930   1946
9                    6    717    723
10                 110  11165  11275
11                   7    687    694
12                   7    868    875
13                   8    939    947
14                   5    512    517
15                  12   1594   1606
16                   6    474    480
17                  42   4836   4878
18                  98  12312  12410
19                   8    465    473
20                   4    234    238
21                   0     45     45
22                  54   5227   5281
23                  37   3502   3539
24                   6    336    342
25                 431  39959  40390
26                   6    266    272
Total              937  95144  96081

In [93]:
def nonevent(df) : 
    return (df[0]/937)
def event(df) : 
    return (df[1]/95144)
def Woe(df) :
    return ln(df["%nonevent"]/df["%event"])

In [94]:
a["%nonevent"] = a.apply(nonevent, axis =1 )
a["%event"] = a.apply(event, axis =1 )

b["%nonevent"] = b.apply(nonevent, axis =1 )
b["%event"] = b.apply(event, axis =1 )

c["%nonevent"] = c.apply(nonevent, axis =1 )
c["%event"] = c.apply(event, axis =1 )

d["%nonevent"] = d.apply(nonevent, axis =1 )
d["%event"] = d.apply(event, axis =1 )

In [95]:
a

flagging           0      1  Total  %nonevent    %event
review_scoremax
0.0               11    706    717   0.011740  0.007420
1.0               75  10112  10187   0.080043  0.106281
2.0               26   2947   2973   0.027748  0.030974
3.0               82   7772   7854   0.087513  0.081687
4.0              161  18446  18607   0.171825  0.193875
5.0              582  55161  55743   0.621131  0.579763
Total            937  95144  96081   1.000000  1.000000

In [96]:
b

flagging            0      1  Total  %nonevent    %event
Category_payment
0                 426  45145  45571   0.454642  0.474491
1                 483  45919  46402   0.515475  0.482626
2                  22   2980   3002   0.023479  0.031321
3                   6   1100   1106   0.006403  0.011561
Total             937  95144  96081   1.000000  1.000000

In [97]:
c

flagging                         0      1  Total  %nonevent    %event
customer_zip_code_prefixfirst
1003                             0      1      1        0.0  0.000011
1004                             0      2      2        0.0  0.000021
1005                             0      6      6        0.0  0.000063
1006                             0      2      2        0.0  0.000021
1007                             0      4      4        0.0  0.000042
...                            ...    ...    ...        ...       ...
99965                            0      2      2        0.0  0.000021
99970                            0      1      1        0.0  0.000011
99980                            0      2      2        0.0  0.000021
99990                            0      1      1        0.0  0.000011
Total                          937  95144  96081        1.0  1.000000

[14910 rows x 5 columns]

In [98]:
d

flagging             0      1  Total  %nonevent    %event
geolocation_state
0                    0     77     77   0.000000  0.000809
1                    4    398    402   0.004269  0.004183
2                    1    143    144   0.001067  0.001503
3                    0     67     67   0.000000  0.000704
4                   22   3250   3272   0.023479  0.034159
5                   10   1301   1311   0.010672  0.013674
6                   19   1892   1911   0.020277  0.019886
7                   18   1948   1966   0.019210  0.020474
8                   16   1930   1946   0.017076  0.020285
9                    6    717    723   0.006403  0.007536
10                 110  11165  11275   0.117396  0.117348
11                   7    687    694   0.007471  0.007221
12                   7    868    875   0.007471  0.009123
13                   8    939    947   0.008538  0.009869
14                   5    512    517   0.005336  0.005381
15                  12   1594   1606   0.012807  0.016754
16                   6    474    480   0.006403  0.004982
17                  42   4836   4878   0.044824  0.050828
18                  98  12312  12410   0.104589  0.129404
19                   8    465    473   0.008538  0.004887
20                   4    234    238   0.004269  0.002459
21                   0     45     45   0.000000  0.000473
22                  54   5227   5281   0.057631  0.054938
23                  37   3502   3539   0.039488  0.036807
24                   6    336    342   0.006403  0.003531
25                 431  39959  40390   0.459979  0.419984
26                   6    266    272   0.006403  0.002796
Total              937  95144  96081   1.000000  1.000000

In [99]:
a["WoE"] = np.log(a["%nonevent"]/a["%event"])
a["IV"] = (a["%nonevent"] - a["%event"])*a["WoE"]
a

flagging           0      1  Total  %nonevent    %event       WoE        IV
review_scoremax
0.0               11    706    717   0.011740  0.007420  0.458744  0.001981
1.0               75  10112  10187   0.080043  0.106281 -0.283526  0.007439
2.0               26   2947   2973   0.027748  0.030974 -0.109983  0.000355
3.0               82   7772   7854   0.087513  0.081687  0.068900  0.000401
4.0              161  18446  18607   0.171825  0.193875 -0.120735  0.002662
5.0              582  55161  55743   0.621131  0.579763  0.068923  0.002851
Total            937  95144  96081   1.000000  1.000000  0.000000  0.000000

In [100]:
b["WoE"] = np.log(b["%nonevent"]/b["%event"])
b["IV"] = (b["%nonevent"] - b["%event"])*b["WoE"]
b

flagging            0      1  Total  %nonevent    %event       WoE        IV
Category_payment
0                 426  45145  45571   0.454642  0.474491 -0.042732  0.000848
1                 483  45919  46402   0.515475  0.482626  0.065846  0.002163
2                  22   2980   3002   0.023479  0.031321 -0.288173  0.002260
3                   6   1100   1106   0.006403  0.011561 -0.590842  0.003048
Total             937  95144  96081   1.000000  1.000000  0.000000  0.000000

In [101]:
c["WoE"] = np.log(c["%nonevent"]/c["%event"])
c["IV"] = (c["%nonevent"] - c["%event"])*c["WoE"]
c

/opt/conda/lib/python3.7/site-packages/pandas/core/arraylike.py:364: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

flagging,0,1,Total,%nonevent,%event,WoE,IV
customer_zip_code_prefixfirst,,,,,,,
1003,0,1,1,0.0,0.000011,-inf,inf
1004,0,2,2,0.0,0.000021,-inf,inf
1005,0,6,6,0.0,0.000063,-inf,inf
1006,0,2,2,0.0,0.000021,-inf,inf
1007,0,4,4,0.0,0.000042,-inf,inf
...,...,...,...,...,...,...,...
99965,0,2,2,0.0,0.000021,-inf,inf
99970,0,1,1,0.0,0.000011,-inf,inf
99980,0,2,2,0.0,0.000021,-inf,inf
99990,0,1,1,0.0,0.000011,-inf,inf
Total,937,95144,96081,1.0,1.000000,0.0,0.0

In [102]:
d["WoE"] = np.log(d["%nonevent"]/d["%event"])
d["IV"] = (d["%nonevent"] - d["%event"])*d["WoE"]
d

/opt/conda/lib/python3.7/site-packages/pandas/core/arraylike.py:364: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

flagging,0,1,Total,%nonevent,%event,WoE,IV
geolocation_state,,,,,,,
0,0,77,77,0.000000,0.000809,-inf,inf
1,4,398,402,0.004269,0.004183,0.020306,1.742458e-06
2,1,143,144,0.001067,0.001503,-0.342381,1.491923e-04
3,0,67,67,0.000000,0.000704,-inf,inf
4,22,3250,3272,0.023479,0.034159,-0.374904,4.003813e-03
5,10,1301,1311,0.010672,0.013674,-0.247840,7.439288e-04
6,19,1892,1911,0.020277,0.019886,0.019513,7.645769e-06
7,18,1948,1966,0.019210,0.020474,-0.063723,8.054504e-05
8,16,1930,1946,0.017076,0.020285,-0.172223,5.527098e-04
9,6,717,723,0.006403,0.007536,-0.162853,1.844358e-04
10,110,11165,11275,0.117396,0.117348,0.000405,1.922647e-08
11,7,687,694,0.007471,0.007221,0.034039,8.510426e-06
12,7,868,875,0.007471,0.009123,-0.199818,3.301718e-04
13,8,939,947,0.008538,0.009869,-0.144910,1.929285e-04
14,5,512,517,0.005336,0.005381,-0.008423,3.802009e-07
15,12,1594,1606,0.012807,0.016754,-0.268632,1.060215e-03
16,6,474,480,0.006403,0.004982,0.251016,3.568170e-04
17,42,4836,4878,0.044824,0.050828,-0.125710,7.548025e-04
18,98,12312,12410,0.104589,0.129404,-0.212899,5.283024e-03
19,8,465,473,0.008538,0.004887,0.557868,2.036528e-03
20,4,234,238,0.004269,0.002459,0.551437,9.978323e-04
21,0,45,45,0.000000,0.000473,-inf,inf
22,54,5227,5281,0.057631,0.054938,0.047855,1.288710e-04
23,37,3502,3539,0.039488,0.036807,0.070292,1.884078e-04
24,6,336,342,0.006403,0.003531,0.595112,1.709117e-03
25,431,39959,40390,0.459979,0.419984,0.090962,3.637970e-03
26,6,266,272,0.006403,0.002796,0.828727,2.989758e-03
Total,937,95144,96081,1.000000,1.000000,0.000000,0.000000e+00

In [103]:
a["IV"].sum()

0.015690285932697254

In [104]:
b["IV"].sum()

0.00831847326677744

In [105]:
c["IV"].sum()

inf

In [106]:
d["IV"].sum()

inf

In [107]:
#code zip sama sekali tidak memiliki pengaruh terhadap flaging jadi tidak apa apa kalau di drop
result3 = result3.drop(['customer_zip_code_prefixfirst'], axis=1)
result3

,customer_unique_id,order_purchase_timestamp,diff,flagging,review_scoremax,Category_payment,geolocation_state
0,0000366f3b9a7992bf8c76cfdf3221e2,2018-05-10 10:56:27,0.0,1,5.0,1,25
1,0000b849f77a49e4a4ce2b2a4ca5be3f,2018-05-07 11:11:27,0.0,1,4.0,0,25
2,0000f46a3911fa3c0805444483337064,2017-03-10 21:05:03,0.0,1,3.0,0,23
3,0000f6ccb0745a6a4b88665a16c9f078,2017-10-12 20:29:41,0.0,1,4.0,0,13
4,0004aac84e0df4da2b147fca70cf8255,2017-11-14 19:45:42,0.0,1,5.0,1,25
...,...,...,...,...,...,...,...
96345,fbd10bdfa725fd272755f9dd98752105,2017-12-30 21:44:05,0.0,1,4.0,1,15
96346,fbd11c96273ccf29c8e3078c5308f837,2017-10-25 11:42:39,0.0,1,5.0,1,4
96347,fbd1e2b88791dae0188d83d445a0fabf,2017-08-20 18:09:55,0.0,1,5.0,0,12
96348,fbd3085c1981e8f769497eda747964ca,2018-06-28 23:17:06,0.0,1,4.0,1,7
96349,fbd45572765900cf329bb14ef313eb99,2017-11-26 10:18:35,0.0,1,4.0,1,17

In [108]:
## Kedua Feature lainnya yang sudah dibuat terbukti kurang kuat dalam memodelkan flagging
## Kemungkinan besar disebabkan oleh Imbalance Data

Split Data

In [109]:
x = ['review_scoremax','Category_payment','geolocation_state']
y = ['flagging']
from sklearn.model_selection import train_test_split
x=result3[x]
y=result3[y]
x_train, x_test, y_train, y_test = train_test_split(x,y ,train_size=0.8)
print("Banyaknya data trainning=", len(x_train))
print("Banyaknya data testing=", len (x_test))

Banyaknya data trainning= 76864
Banyaknya data testing= 19217

Naive Bayes

In [110]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
clf=MultinomialNB()
clf.fit(x_train, y_train)
y_pred=clf.predict(x_test)
confusion_matrix(y_test, y_pred) 
print (classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00       215
           1       0.99      1.00      0.99     19002

    accuracy                           0.99     19217
   macro avg       0.49      0.50      0.50     19217
weighted avg       0.98      0.99      0.98     19217

/opt/conda/lib/python3.7/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/opt/conda/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/opt/conda/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/opt/conda/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

DTree

In [111]:
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics
dt = DecisionTreeClassifier (max_depth=None, min_samples_split=2)
dt.fit(x_train, y_train)
y_pred = dt.predict(x_test)
skor_dt= metrics.accuracy_score(y_test, y_pred)
print( "akurasi klasifikasi dengan D tree adalah=",skor_dt)

akurasi klasifikasi dengan D tree adalah= 0.9888119893843992

Random Forest

In [112]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 0)
classifier.fit(x_train, y_train)
# Predicting the Test set results
y_pred = classifier.predict(x_test)
confusion_matrix(y_test, y_pred) 
print (classification_report(y_test, y_pred))

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

              precision    recall  f1-score   support

           0       0.00      0.00      0.00       215
           1       0.99      1.00      0.99     19002

    accuracy                           0.99     19217
   macro avg       0.49      0.50      0.50     19217
weighted avg       0.98      0.99      0.98     19217

/opt/conda/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/opt/conda/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/opt/conda/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))